.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

.navbar {
    background: #06547E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.navbar-brand {
    font-size: 30px;
    font-style: italic;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-style: italic;
}
.nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav a:hover {
    color: #aaa;
}

input:required:invalid {
    border-color: none; /* Cambia el color del borde a rojo para campos requeridos no llenados */
}
input:required:invalid:focus {
    border-color: red; /* Cambia el color del borde a rojo para campos requeridos no llenados */
    border-width: 2px;
}
input:required:valid {
    border-color: initial; /* Revierte el color del borde a su valor predeterminado cuando el campo es válido */
}

/* Estilo para inputs inválidos cuando están enfocados */
input:invalid:focus {
    border-color: red;
    border-width: 2px;
}

/* Restablecer el color del borde para inputs válidos */
input:valid {
    border-color: initial; /* Restablece el color del borde a su valor predeterminado para campos válidos */
}

.dropdown{
   display: inline-block;
   position: relative;
   vertical-align: middle;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 200px;
    top: 100%; /* Coloca el contenido debajo del ícono */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1{
    display: none;
    position: absolute;
    width: 200px;
    top: 100%; /* Coloca el contenido debajo del ícono */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-content1{
    display: block;
}

.dropdown-content a{
    display: block;
    color: #eee;
    background-color: #06547E;
    padding: 10px;
    text-decoration: none;
}

.dropdown-content1 a{
    display: block;
    color: #000000;
    background-color: #e9e9e9a8;
    padding: 10px;
    text-decoration: none;
}

.dropdown-content1 a:hover{
    color: #ffffff;
    background-color: rgb(7, 40, 66);
}

.dropdown-content a:hover{
    color: #ffffff;
    background-color: rgb(7, 40, 66);
}

.notification-icon {
    position: relative;
    vertical-align: middle;
    display: inline-flex;/* Utiliza flexbox para alinear verticalmente */
    align-items: center; /* Centra verticalmente */
    
    height: 100%; /* Ajusta la altura del enlace para centrar */
    padding: 10px; /* Ajusta el espacio interno del enlace */
    text-decoration: none;
    color: #000000; /* Color del texto */
}

.notification-icon i {
    font-size: 30px; /* Tamaño del ícono */
}

.notification-content {
    display: none;
    position: absolute;
    width: 280px;
    top: 100%; /* Coloca el contenido debajo del ícono */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.notification-icon:hover .notification-content{
    display: block;
}

.notification-content a{
    display: block;
    color: #141313;
    background-color: #f8f8f8;
    padding: 10px;
    text-decoration: none;
}

.notification-content a:hover{
    color: #eee;
    background-color: rgb(7, 40, 66);
}

.documento-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.documento-item:hover {
    background-color: #f0f0f0;
}

.titulo1 {
    animation: fadeIn 1.5s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}