.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

.navbar {
    background: #06547E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.navbar-brand {
    font-size: 30px;
    font-style: italic;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-style: italic;
}
.nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav a:hover {
    color: #aaa;
}

input:required:invalid {
    border-color: none; /* Cambia el color del borde a rojo para campos requeridos no llenados */
}
input:required:invalid:focus {
    border-color: red; /* Cambia el color del borde a rojo para campos requeridos no llenados */
    border-width: 2px;
}
input:required:valid {
    border-color: initial; /* Revierte el color del borde a su valor predeterminado cuando el campo es válido */
}

/* Estilo para inputs inválidos cuando están enfocados */
input:invalid:focus {
    border-color: red;
    border-width: 2px;
}

/* Restablecer el color del borde para inputs válidos */
input:valid {
    border-color: initial; /* Restablece el color del borde a su valor predeterminado para campos válidos */
}