<div>
    <style>
        /* Default height for small devices */
        #intro-example {
            height: 400px;
        }

        /* Height for devices larger than 992px */
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
    </style>
        <!-- Background image -->
        <div
            id="intro-example"
            class="p-5 text-center bg-image"
            style="background-image: url('/img/fondo.jpg'); background-size: cover; height: 100vh; background-repeat: no-repeat; background-position:center;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.5); padding: 10vh; border-radius: 10px;">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <!-- Pantalla grande -->
                        <h1 class="mb-3 d-none d-md-block">WELCOME BACK {{name}}</h1> 
                        <!-- Pantalla chica -->
                        <h3 class="mb-3 d-block d-md-none">WELCOME BACk {{name}}</h3>
                        <div class="d-none d-md-block">
                            <br><br>
                        </div>
                        <!-- Pantalla grande -->
                        <h5 class="mb-4 d-none d-md-block">Generate official minutes with secure signatures from all participants, sign important memorandums, and manage confidential memos with encrypted access for authorized personnel only. Our system enhances efficiency and provides peace of mind. Revolutionize your document management process today!</h5>
                        <!-- Pantalla chica -->
                        <p class="mb-4 d-block d-md-none" style="font-size: 16px">Generate official minutes with secure signatures from all participants, sign important memorandums, and manage confidential memos with encrypted access for authorized personnel only. Our system enhances efficiency and provides peace of mind. Revolutionize your document management process today!</p>
                        <div class="d-none d-md-block">
                            <br><br>
                        </div>
                        <!-- Botones en la misma línea -->
                        <div class="d-flex justify-content-center">
                            <!-- Pantalla grande -->
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-none d-md-block"
                                href="/uploadf"
                                role="button"
                                rel="nofollow"
                            >Subir minuta</a>
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-none d-md-block"
                                href="/uploadm"
                                role="button"
                            >Subir memorando</a>
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-none d-md-block"
                                href="/uploadmconf"
                                role="button"
                            >Subir memorando confidencial</a>
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-none d-md-block"
                                href="/firmar"
                                role="button"
                            >Firmar docs pendientes</a>
                            <!-- Pantalla chica -->
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-block d-md-none"
                                href="/uploadf"
                                role="button"
                                rel="nofollow"
                            >Subir minuta</a>
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-block d-md-none"
                                href="/uploadm"
                                role="button"
                            >Subir memorando</a>
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-block d-md-none"
                                href="/uploadmconf"
                                role="button"
                            >Subir memorando</a>
                            <a
                                data-mdb-ripple-init
                                class="btn btn-outline-light btn-lg m-2 d-block d-md-none"
                                href="/firmar"
                                role="button"
                            >Firmar docs pendientes</a>
                     </div>
             </div>
         </div>
    </div>
</div>


<form method="POST" action="">
<br>
<div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="prueba" name="prueba" class="form-control form-control-lg" placeholder="Enter your text" required/>
                    <label class="form-label" for="prueba">TEXT</label><br>
</div>
<br>
<br>
<div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="user" name="user" class="form-control form-control-lg" placeholder="Enter your employee ID" required oninput="validarMatricula(this)"/>
                    <label class="form-label" for="user">A quien envias</label><br>
                    <small id="matriculaError" class="text-danger"></small>
</div>
<div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; background: #06547E;">Generar llave</button>
                </div>
<br>
</form>